/* Header.css */
.header {
    text-align: center;
    background-color: #f6a523;
    padding: 20px;
    color: white;
  }
  
  .header-content {
    display: flex;
    align-items: center;
    justify-content: center; 
  }
  
  .header h1 {
    font-size: 36px;
    font-weight: bold;
    margin-left: 15px;
  }
  
  .logo {
    width: 50px; 
    height: auto;
  }
  